#wissen {
  background-color: #FA0202;
}
#berekenen {
  background-color: green;
}
#berekenen2 {
  background-color: green;
}
#berekenen3 {
  background-color: green;
}
#wissen2 {
  background-color: red;
}
